<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> VUE_TODO_LIST </title>
        <link rel="stylesheet" href="https://ez-css.now.sh">
        <style>
            .done{
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <main id="app">
            <h3> {{ title }} </h3>
            <form @submit.prevent="addTodo"> <!-- Chiamata della funzione: "addTodo" -->
                <label for="newTodo"> TODO_LIST </label>
                <input v-model="newTodo" type="text" name="newTodo" id="newTodo" value="">
                <!-- v-model="newTodo" si riferisce all'attributo dell'istanza "data" -->
                <button type="submit" name="button"> AGGIUNGI </button>
            </form>
            <ul>
                <li v-for="todo in todos"> <!-- Ogni "todo" avrà il suo bottone per essere rimosso -->
                    <input type="checkbox" v-model="todo.done"> <!-- Marchiamo il todo completato -->
                    <span :class="{ done: todo.done }"> {{ todo.title }} </span> <!-- Per mostrare il todo nella pagina -->
                    <button @click="removeTodo(todo)" type="button"> RIMUOVI </button>
                </li>
            </ul>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- Libreria di vue.js -->
        <script src="index.js"></script>
    </body>
</html>
